<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">itoffice</property>
        <property name="hibernate.connection.url">jdbc:mysql://119.29.110.134:3306/hotel</property>
        <property name="hibernate.connection.username">itoffice</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
            <property name="connection.characterEncoding">gbk</property> 
        <mapping resource="com/hotel/pojo/Hotelaccount.hbm.xml" />
        <mapping resource="com/hotel/pojo/Customer.hbm.xml" />
        <mapping resource="com/hotel/pojo/Goodsconsume.hbm.xml" />
        <mapping resource="com/hotel/pojo/Goods.hbm.xml" />
        <mapping resource="com/hotel/pojo/Logtable.hbm.xml" />
        <mapping resource="com/hotel/pojo/Guestroom.hbm.xml" />
        <mapping resource="com/hotel/pojo/Manager.hbm.xml" />
        <mapping resource="com/hotel/pojo/Vip.hbm.xml" />
        <mapping resource="com/hotel/pojo/Usertable.hbm.xml" />
    </session-factory>
</hibernate-configuration>
